#header {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0px;
	left: 0px;
	background-color: white;
}

#header-hr {
	position: absolute;
	top: 100%;
}

#page-title {
	position: relative;
	top: 5px;
	left: 15%;
	font-family: "Arial";
	font-size: 35px;
	width: 0px;
	height: 0px;
}

#searchbox {
	position: relative;
	left: 50%;
	margin-left: -200px;
	height: 35px;
	font-size: 25px;
	font-family: "Arial";
	width: 400px;
	top: -20px; 
}

body {
	height: 100%;
	width: 100%;
	top: 0%;
	left: 0%;
	background-color: #efefef;
}

#pokemon-img {
	background-color: white;
	height: 250px;
	width: 250px;
	position: absolute;
	left: 15%;
	top: 25%;
}

#pokemon-info-div {
	background-color: white;
	height: 350px;
	width: calc(70% - 15%);
	position: absolute;
	left: 15%;
	top: calc(25% + 250px + 50px);
}

#evo-div {
	background-color: white;
	height: calc( 250px + 50px + 350px );
	width: calc(20% - 10%);
	position: absolute;
	right: 15%;
	top: 25%;
}

p {
	color: #afafaf;
	font-family: "Arial";
	margin-left: 5px;
}

#evo-text {
	position: relative;
	left: 5px;
	height: 20px;
}

#evo-table {
	height: 100% - 20px;
	width: 100%;
}

#evo-option {
	font-family: "Arial";
	color: black;
	position: relative;
	left: 5px;
	height: 20px;
}

#pokemon-name {
	font-family: "Arial";
	margin-left: 20px;
	font-size: 45px;
}
#pokemon-type {
	font-family: "Arial";
	margin-left: 20px;
	font-size: 20px;
	margin-top: -30px;
}

#pokemon-pkdx-id {
	font-family: "Arial";
	margin-left: 20px;
	font-size: 20px;
	margin-top: -20px;
}

#pokemon-desc {
	font-family: "Arial";
	color: black;
	margin-left: 20px;
	margin-top: 20px;
	font-size: 25px;
}
