* {
    margin: 0;
    padding: 0;
}

/* 
    HEADER
*/

header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 3rem 1rem 3rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* 
    FOOTER
*/

.highlight {
    background: radial-gradient(circle, #4b0082, #5a0a99, #6a16b1, #7a20c9, #8a2be2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
footer {
    background-color: #eeeeee;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    min-height: fit-content;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}
footer > .link-row {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 1rem;
    padding: 1rem;
}

footer > #internal-links > a {
    color: black;
    text-decoration: none;
}
footer > #internal-links > a:hover {
    text-decoration: underline;
}

footer > #external-links > .external-link {
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: transform 0.1s ease;
}
.external-link:hover {
    transform: scale(1.1);
}
.external-link > img {
    width: 100%;
    height: 100%;
    color: black;
}

/* 
    CONTAINER
*/

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.container.vertical {
    flex-direction: column;
}

/* 
    FIELDS
*/

#pokemon-type {
    display: flex;
    gap: .5rem;
}

#pokemon-evos-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
